<h1>Song</h1>

<hr>

<div *ngIf="percent" class="s-stats">
  <div class="dance">
    <div class="icon">💃 - Danceability ({{percent.danceability}}%)</div>

    <div class="progress-bar">
      <div class="inner" [style.width.%]="percent.danceability">
        <div class="progress"></div>
      </div>
    </div>
  </div>

  <div class="energy">
    <div class="icon">💥 - Energy ({{percent.energy}}%)</div>

    <div class="progress-bar">
      <div class="inner" [style.width.%]="percent.energy">
        <div class="progress"></div>
      </div>
    </div>
  </div>

  <div class="valence">
    <div class="content">😁 - Happiness ({{percent.valence}}%)</div>

    <div class="progress-bar">
      <div class="inner" [style.width.%]="percent.valence">
        <div class="progress"></div>
      </div>
    </div>
  </div>

  <div class="speech">
    <div class="icon">🎤- Speechiness ({{percent.speechiness}}%)</div>

    <div class="progress-bar">
      <div class="inner" [style.width.%]="percent.speechiness">
        <div class="progress"></div>
      </div>
    </div>
  </div>
</div>

<div class="songs">
  <div *ngIf="songHappy" class="song song--happy">
    <h2>Happiest song</h2>
    <p><b>Song Name:</b><br> {{songHappy.name}}</p>
    <p><b>Artist:</b><br> {{songHappy.artists[0].name}}</p>

    <p><b>Album:</b><br> {{songHappy.album.name}}</p>

    <img src="{{songHappy.album.images[0].url}}" alt="" width="200">
    <hr>
  </div>

  <div *ngIf="songSad" class="song song--sad">
    <h2>Saddest song</h2>
    <p><b>Song Name:</b><br> {{songSad.name}}</p>
    <p><b>Artist:</b><br> {{songSad.artists[0].name}}</p>

    <p><b>Album:</b><br> {{songSad.album.name}}</p>

    <img src="{{songSad.album.images[0].url}}" alt="" width="200">
    <hr>
  </div>
</div>