mat-toolbar {
  position: relative;
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    text-decoration: none;
  }

  .menu {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 0 20px;
    }
  }
}